// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-flux {
    text-align: center;
    font-size: 18px;
}

.image-flux {
    margin-top: 40px;
    margin-left: 9% !important;
}

.link-class {
    margin-left: 18% !important;
}

.link-allocation {
    margin-left: 19% !important;
}

.link-report {
    margin-left: 19% !important;
}