<li href="#" class="sidebar-item" >
  <%= link_to school_rooms_index_path, class: "sidebar-item-ancor" do %>
    <div class="nav-icon-container">
      <i class="fas fa-paste icon"></i>
    </div>
    Turmas
  <% end %>
</li>