.form-control {
  width: 60% !important;
}

.container-edit {
  padding-left: 28%;
}

.pull-right {
  float: right !important;
  margin-right: 40% !important;
}

.title{
  margin-left: 27% !important;
}